<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester 1.1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link

      rel="stylesheet"

      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"

    />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="images/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="images/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for("static", filename="images/favicon-16x16.png") }}">
    <link rel="manifest" href="{{url_for("static", filename="images/site.webmanifest") }}">
</head>
<body>
  <header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">Semester <span>1.1</span></a>
          </div>
        <ul class="nav justify-content-end nav nav-underline">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for("home") }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#notes">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#exams">Past Papers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#videos">YouTube</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<section class="notes" id="notes">
  <h2 class="title">Unit Notes</h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit justify-content-center align-items-center">
            <div class="icon"><i class="fa-solid fa-microchip"></i></div>
            <h3 class="unit-name">COMP 110</h3>
            <div class="button">
              <a href="#" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-code"></i></div>
            <h3 class="unit-name">COMP 112</h3>
            <div class="button">
              <a href="notes/into programmming c.pdf" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-comments"></i></div>
            <h3 class="unit-name">COMS 110</h3>
            <div class="button">
              <a href="notes/COMS 110 NOTES 2018-1_compressed.pdf" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-calculator"></i></div>
            <h3 class="unit-name">MATH 110</h3>
            <div class="button">
              <a href="notes/MATH 110 NOTES_compressed.pdf" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-vector-square"></i></div>
            <h3 class="unit-name">MATH 111</h3>
            <div class="button">
              <a href="#" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h3 class="unit-name">PHYS 110</h3>
            <div class="button">
              <a href="notes/phys 110  notes.pdf" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-cross"></i></div>
            <h3 class="unit-name">BIBL 110</h3>
            <div class="button">
              <a href="notes/BIBL 110 OLD TESTAMENT SURVEY  LECTURE NOTES_compressed.pdf" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>
<section class="notes" id="exams">
  <h2 class="title">Past Papers</h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-microchip"></i></div>
            <h3 class="unit-name">COMP 110</h3>
            <div class="button">
              <a href="notes/COMP 110 PAST PAPERS.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-code"></i></div>
            <h3 class="unit-name">COMP 112</h3>
            <div class="button">
              <a href="notes/COMP 112 PAST PAPERS.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-comments"></i></div>
            <h3 class="unit-name">COMS 110</h3>
            <div class="button">
              <a href="notes/COMS 110 PAST PAPERS.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-calculator"></i></div>
            <h3 class="unit-name">MATH 110</h3>
            <div class="button">
              <a href="notes/MATH 110 PAST PAPERS.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-vector-square"></i></div>
            <h3 class="unit-name">MATH 111</h3>
            <div class="button">
              <a href="notes/MATH 111 PAST PAPERS.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h3 class="unit-name">PHYS 110</h3>
            <div class="button">
              <a href="notes/PHYS 110 PAST PAPERS.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-cross"></i></div>
            <h3 class="unit-name">BIBL 110</h3>
            <div class="button">
              <a href="notes/BIBL 110 PAST PAPERS_compressed.pdf" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>
<section class="videos" id="videos">
  <h2 class="title">YouTube</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="https://img.youtube.com/vi/zOjov-2OZ0E/0.jpg" class="card-img-top" alt="Video Thumbnail 1">
          <div class="card-body">
            <h5 class="card-title">Introduction to Programming and Computer Science - Full Course</h5>
            <p class="card-text"></p>
            <a href="https://www.youtube.com/watch?v=zOjov-2OZ0E" class="btn" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://img.youtube.com/vi/2_21erD-nBg/0.jpg" class="card-img-top" alt="Video Thumbnail 1">
          <div class="card-body">
            <h5 class="card-title">Calculus 3 - Intro To Vectors</h5>
            <p class="card-text"></p>
            <a href="https://www.youtube.com/watch?v=2_21erD-nBg" class="btn" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://img.youtube.com/vi/VVaOj2zvl0o/0.jpg" class="card-img-top" alt="Video Thumbnail 1">
          <div class="card-body">
            <h5 class="card-title">BPY1103: ELECRICITY AND MAGNETISM 1</h5>
            <p class="card-text"></p>
            <a href="https://www.youtube.com/watch?v=nxZ2hEeVgFU" class="btn" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
<footer>
  <span>Created By <a href="#">Esiepe Owen</a> |
    <span class="far fa-copyright"></span> 2023 All Rights Reserved.</span>
  <div class="follow">
    <a href="https://web.facebook.com/esi3pe/" class="fab fa-facebook-f" target="_blank"></a>
    <a href="https://twitter.com/EsiepeO" class="fab fa-twitter" target="_blank"></a>
    <a href="https://www.instagram.com/esiepe._/" class="fab fa-instagram" target="_blank"></a>
    <a href="www.linkedin.com/in/owen-esiepe" class="fab fa-linkedin" target="_blank"></a>
  </div>
</footer>
<script src="{{ url_for("static", filename="script.js") }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>